on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - .github/workflows/*.yaml
  pull_request:
  workflow_dispatch:

jobs:
  test-build:
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Install build dependencies
      run: |
        sudo apt-get update -y &&
        sudo apt-get install -y build-essential cmake \
          gcc-aarch64-linux-gnu pkg-config

    - name: Compile MPP
      run: ./deps/compile_mpp.sh

    - name: Compile libdatachannel
      run: ./deps/compile_libdatachannel.sh

    - name: Compile livemedia
      run: ./deps/compile_livemedia.sh

    - name: Build apps
      run: make

    - name: Install apps
      run: make install DESTDIR=$PWD/tmp/install
